#myName {
    font-size: larger;
    margin-top: 10px;
    font-weight: bold;
    color: whitesmoke
}

.portfolioImages img {
    margin: 10px;
}

.floatleft {
    float: left;
}

.index-content img {
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .floatleft {
        float: none;
        margin: auto;
    }
    .index-content {
        text-align: center;
    }
    .index-content p {
        text-align: left;
    }
}