#myName {
    font-size: larger;
    margin-top: 10px;
    font-weight: bold;
    color: whitesmoke
}

.portfolioImages img {
    margin: 5px;
}

.floatleft {
    float: left;
}

.index-content img {
    margin: 10px;
}

hr.solid {
    border-top: 2px solid rgb(212, 96, 96);
}

.contactItems p {
    margin: 20px;
}

@media only screen and (max-width: 768px) {
    .floatleft {
        float: none;
        margin: auto;
    }
    .index-content {
        text-align: center;
    }
    .index-content p {
        text-align: justify;
    }

    .portfolioImages {
        text-align: center;
    }

    h1 {
        margin-left: 12px;
    }
}